[project]
	description = "Looking Glass using Python and  Bottle.py."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bruno Costa (bfdacosta)
[access "refs/for/refs/*"]
	read = group user/Bruno Costa (bfdacosta)
	push = group user/Bruno Costa (bfdacosta)
	label-Code-Review = -2..+2 group user/Bruno Costa (bfdacosta)
	label-Verified = -1..+1 group user/Bruno Costa (bfdacosta)
	rebase = group user/Bruno Costa (bfdacosta)
	removeReviewer = group user/Bruno Costa (bfdacosta)
	submit = group user/Bruno Costa (bfdacosta)
[access "refs/heads/*"]
	read = group user/Bruno Costa (bfdacosta)
	create = group user/Bruno Costa (bfdacosta)
	push = +force group user/Bruno Costa (bfdacosta)
	pushMerge = group user/Bruno Costa (bfdacosta)
[access "refs/tags/*"]
	push = +force group user/Bruno Costa (bfdacosta)
	pushTag = group user/Bruno Costa (bfdacosta)
	pushSignedTag = group user/Bruno Costa (bfdacosta)
